<template>
    <Login v-if="registered" v-on:change="toggleRegister" v-on:authenticated="handleAuth" />
    <Signup v-else v-on:change="toggleRegister" v-on:authenticated="handleAuth" />
</template>

<script>
import {
    mapMutations
} from "vuex"

export default {
    data() {
        return {
            registered: true,
        }
    },
    methods: {
        toggleRegister: function () {
            this.registered = !this.registered
        },
        handleAuth: function (user) {
            this.toggleAuthenticated(user);
        },
        ...mapMutations(['toggleAuthenticated'])
    },
}
</script>

<style scoped>

</style>
