<template>
<div id="app" class="flex container h-screen w-full">

    <!-- COL - 1 -->
    <!-- Side Nav -->
    <div class="lg:w-1/5 border-r border-lighter px-2 lg:px-6 py-2 flex flex-col justify-between">

        <!-- Top Buttons -->
        <div>
            <button class="focus:outline-none h-12 w-12 hover:bg-lightblue text-3xl rounded-full text-blue">
                <i class="fab fa-twitter"></i>
            </button>
            <div>
                <button class="focus:outline-none hover:text-blue flex items-center py-2 px-4 hover:bg-lightblue rounded-full mr-auto mb-3 text-blue">
                    <i class="fas fa-home text-2xl mr-4 text-left"></i>
                    <p class="text-lg font-semibold text-left hidden lg:block"> Home </p>
                </button>
            </div>
        </div>

        <!-- Buttom Profile -->
        <div class="lg:w-full relative">
            <button @click="dropdown = !dropdown" class="flex items-center w-full hover:bg-lightblue rounded-full p-2 focus:outline-none">
                <button class="bg-lightblue h-12 w-12 text-dark rounded-full flex-none">
                    <i class="fas fa-user"></i>
                </button>
                <div class="hidden lg:block ml-4">
                    <p class="text-sm font-bold leading-tight"> {{`${user.firstName} ${user.lastName}`}} </p>
                    <p class="text-sm leading-tight"> @{{user.userName}} </p>
                </div>
                <i v-if="dropdown" class="hidden lg:block fas fa-angle-down ml-auto text-lg"></i>
                <i v-else class="hidden lg:block fas fa-angle-up ml-auto text-lg"></i>

            </button>

            <!-- Dropdown -->
            <div v-if="dropdown === true" class="absolute bottom-0 left-0 w-64 rounded-lg shadow-md border-lightest bg-white mb-16">
                <nuxt-link :to='`/${user.userName}`' @click="dropdown = false" class="flex items-center w-full hover:bg-lightest p-2 focus:outline-none">
                    <button class="bg-lightblue h-12 w-12 text-dark rounded-full flex-none">
                        <i class="fas fa-user"></i>
                    </button>
                    <nuxt-link :to='`/${user.userName}`' class="ml-4">
                        <p class="text-sm font-bold leading-tight"> {{`${user.firstName} ${user.lastName}`}} </p>
                        <p class="text-sm leading-tight"> @{{user.userName}} </p>
                    </nuxt-link>
                    <i class="fas fa-check ml-auto test-blue"></i>
                </nuxt-link>
                <button @click="handleLogOut" class="w-full text-left hover:bg-lightest border-t border-lighter p-3 test-sm focus:outline-none">
                    Log out @{{user.userName}}
                </button>
            </div>
        </div>
    </div>

    <!-- COL - 2 -->
    <!-- Tweets -->
    <div class="w-full md:w-1/2 h-full overflow-y-scroll border-r border-lighter">

        <!-- Home Text -->
        <div class="px-5 py-3 border-b border-lighter flex items-center justify-between">
            <h1 class="text-xl font-bold">Home</h1>
            <i class="far fa-star text-xl text-blue"></i>
        </div>

        <!-- Tweet Form -->
        <div class="px-5 py-3 border-b-8 border-lighter flex">
            <button class="bg-lightblue h-12 w-12 text-dark rounded-full flex-none">
                <i class="fas fa-user"></i>
            </button>
            <form v-on:submit.prevent="addNewTweet" class="w-full px-4 relative">
                <textarea maxlength="255" ref="tweetInput" v-model="content" placeholder="What's up?" class="mt-3 pb-3 w-full focus:outline-none" />
                <div class="flex items-center">
                    <i class="text-lg text-blue mr-4 far fa-image"></i>
                    <i class="text-lg text-blue mr-4 fas fa-film"></i>
                    <i class="text-lg text-blue mr-4 far fa-chart-bar"></i>
                    <i class="text-lg text-blue mr-4 far fa-smile"></i>
                </div>
                <button type="submit" class="h-10 px-4 text-white font-semibold bg-blue hover:bg-darkblue focus:outline-none rounded-full absolute bottom-0 right-0">
                    Tweet
                </button>
            </form>
        </div>

        <!-- Tweets -->
        <Tweets :tweets="tweets" />

    </div>

    <!-- COL - 3 -->
    <!-- Other Users -->
    <div class="md:block hidden w-1/3 h-full border-l border-lighter py-2 px-6 overflow-y-scroll relative">

        <div class="flex align-middle">
            <input @keypress.enter="searhUsers" v-model="term" class="pl-12 rounded-full w-full p-2 bg-lighter text-sm mb-4" placeholder="Search Twitter" />
            <i @click="searhUsers" class="fas fa-search p-3 cursor-pointer text-sm text-light"></i>
        </div>
        <div class="flex text-center items-center justify-between p-3">
            <p class="text-lg font-bold">Result</p>
        </div>
        <div class="w-full overflow-y-scroll max-h-2/5 rounded-lg bg-lightest">
            <User :users="this.result" />
        </div>
        
    </div>

  </div>
</template>

<script>
import {
    mapMutations,
    mapState
} from "vuex"

export default {
    name: 'app',
    components: {},
    data() {
        return {
            content: '',
            dropdown: false,
            result: [],
            term: ''
        }
    },
    methods: {
        async addNewTweet() {
            if (this.content !== '') {
                const res = await this.$axios.$post('http://localhost:3001/api/v1/tweets/create', {
                    content: this.content
                }, {
                    withCredentials: true
                });

                if (res.status === 'Success') {
                    this.content = ''
                    res.post.created_at = new Date()
                    this.updateTweets([res.post, ...this.tweets])
                }
            }
        },    
        async searhUsers() {
            if (this.term === '') return
            const res = await this.$axios.$post('http://localhost:3001/api/v1/auth/search', {
                term: this.term
            }, {
                withCredentials: true
            });

            this.result = res.result

        },
        handleLogOut() {
            document.cookie = 'jwt=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            this.toggleAuthenticated();
        },
        ...mapMutations(['toggleAuthenticated', 'updateTweets', 'updateMyFollowing'])
    },
    computed: {
        ...mapState(['user', 'tweets', 'myFollowing'])
    },
    async created() {
        const res = await this.$axios.$get('http://localhost:3001/api/v1/tweets/all', {
            withCredentials: true
        });
        if (res.status === 'Success') {
            this.failed = true;
            this.suggested = [];
            this.updateTweets(res.tweets);
            this.updateMyFollowing(res.following);
        } else {
            this.toggleAuthenticated();
        }
    },
}
</script>
