<template>
<div>
    <form class="login mx-auto max-w-sm">
        <div class=" flex justify-between px-2">
            <legend class="px-auto w-full mb-4 text-3xl font-semibold -left">Log In</legend>
            <button @click.prevent class="focus:outline-none h-12 w-12 hover:bg-lightblue text-3xl rounded-full text-blue">
                <i class="fab fa-twitter"></i>
            </button>
        </div>
        <div class="flex flex-col mb-4">
            <label class="mb-1">User Name</label>
            <input v-model="userName" class="border rounded p-1" type="text" placeholder="User Name" minlength="5">
        </div>
        <div class="flex flex-col mb-6">
            <label class="mb-1">Password</label>
            <input v-model="password" class="border rounded p-1" type="password" placeholder="Password" minlength="8">
        </div>
        <div class="flex flex-col mb-4">
            <button @click.prevent="handleLogIn" type="submit" class="h-10 mx-auto px-4 text-white w-1/3 font-semibold bg-blue hover:bg-darkblue focus:outline-none rounded-full">
                Log In
            </button>
        </div>
        <div class="flex justify-center">
            <p v-if="failed" class="mr-4 text-red-600">Invalid Credentials</p>
        </div>
        <div class="flex justify-center">
            <p class="mr-4">Not a member?</p>
            <a @click.prevent="$emit('change')" class=" text-blue" href="#">Sign Up</a>
        </div>

    </form>

</div>
</template>

<script>
export default {
    data() {
        return {
            failed: false,
            userName: '',
            password: ''
        }
    },
    methods: {
        handleLogIn: async function () {
            const res = await this.$axios.$post('http://localhost:3001/api/v1/auth/login', {
                userName: this.userName,
                password: this.password,
            }, {withCredentials: true});
            if (res.status !== 'Success') {
                this.failed = true;
            } else {
                const user = res.data.user;
                this.$emit('authenticated', user);
            }
        }
    },
}
</script>

<style scoped>
.login {
    margin-top: 13%;
}
</style>
