<template>
<div v-if="!notFound" class="flex container h-screen w-full">

    <!-- Followers -->
    <div class="lg:w-1/4 hidden md:flex border-r border-lighter px-6 py-2 flex-col justify-center">
        <div class="absolute top-15 ml-7">
            <nuxt-link to="/" class="focus:outline-none hover:text-blue flex items-center py-2 px-4 hover:bg-lightblue rounded-full mr-auto mb-3 text-blue">
                <i class="fas fa-home text-2xl mr-4 text-left"></i>
                <nuxt-link to="/" class="text-lg font-semibold text-left hidden lg:block"> Home </nuxt-link>
            </nuxt-link>
        </div>

        <div class="flex items-center justify-between p-3">
            <p v-if="userDetails.followers" class="text-lg font-bold">{{`Followers (${userDetails.followers.length})`}}</p>
        </div>
        <div class="w-full overflow-y-scroll max-h-2/5 rounded-lg bg-lightest">
            <User :users="userDetails.followers" />
        </div>
    </div>

    <!-- User Details -->
    <div class="w-full md:w-1/2 h-full overflow-y-scroll relative">
        <div class="w-full h-2/5 flex flex-col justify-end items-end pb-7 pr-16 banner">
            <p v-if="userDetails.user" class="text-lg z-30 font-semibold text-left inline"> {{`${userDetails.user.firstName} ${userDetails.user.lastName}`}} </p>
            <p v-if="userDetails.user" class="text-sm leading-tight"> @{{userDetails.user.userName}} </p>
            <button @click="handleFollow()" v-if="type === 'follow'" type="submit" class="z-30 mt-4 px-4 text-white font-semibold bg-blue hover:bg-darkblue focus:outline-none rounded-full">
                Follow
            </button>
            <button @click="handleUnfollow()" v-else-if="type === 'unfollow'" type="submit" class="z-30 mt-4 px-4 text-white font-semibold bg-blue hover:bg-darkblue focus:outline-none rounded-full">
                Unfollow
            </button>
        </div>

        <Tweets class="border-t-8 border-lighter" :tweets="userDetails.tweets" />

    </div>

    <!-- Following -->
    <div class="md:flex flex-col justify-center hidden w-1/4 h-full border-l border-lighter py-2 px-6 overflow-y-scroll relative">
        <div class="flex items-center justify-between p-3">
            <p v-if="userDetails.following" class="text-lg font-bold">{{`Following (${userDetails.following.length})`}}</p>
        </div>
        <div class="w-full overflow-y-scroll max-h-2/5 rounded-lg bg-lightest">
            <User :users="userDetails.following" />
        </div>
    </div>
</div>
<div v-else class="flex flex-col justify-center">
    <div class="absolute top-15 ml-7">
            <nuxt-link to="/" class="focus:outline-none hover:text-blue flex items-center py-2 px-4 hover:bg-lightblue rounded-full mr-auto mb-3 text-blue">
                <i class="fas fa-home text-2xl mr-4 text-left"></i>
                <nuxt-link to="/" class="text-lg font-semibold text-left hidden lg:block"> Home </nuxt-link>
            </nuxt-link>
        </div>
    <p class="text-center mt-3/12 text-3xl">User Not Found</p>
</div>
</template>

<script>
import {
    mapState,
    mapMutations
} from 'vuex'

export default {
    data() {
        return {
            type: 'none',
            notFound: false
        }
    },
    props: ['userName'],
    methods: {
        ...mapMutations(['updateUserDetails', 'follow']),
        async handleFollow() {
            const res = await this.$axios.$post('http://localhost:3001/api/v1/auth/follow', {
                userName: this.userDetails.user.userName
            }, {
                withCredentials: true
            });

            if (res.status === 'Success') {
                this.type = 'unfollow'
                this.follow({userName:this.user.userName, firstName:this.user.firstName});
            }

        },

        async handleUnfollow() {
            const res = await this.$axios.$post('http://localhost:3001/api/v1/auth/unfollow', {
                userName: this.userDetails.user.userName
            }, {
                withCredentials: true
            });

            if (res.status === 'Success') {
                let tempUserDetails = {...this.userDetails}
                tempUserDetails.followers = tempUserDetails.followers.filter(obj => obj.userName !== this.user.userName)
                this.type = 'follow'
                this.updateUserDetails(tempUserDetails);
            }

        }
    },
    computed: {
        ...mapState(['userDetails', 'myFollowing', 'user']),
    },
    async created() {
        const res = await this.$axios.$post('http://localhost:3001/api/v1/auth/user', {
            userName: this.userName
        }, {
            withCredentials: true
        });

        if (res.status !== 'Success')
            this.notFound = true
        else {
            const {
                following,
                followers,
                tweets,
                user
            } = res;
            this.updateUserDetails({
                user: user[0],
                tweets,
                following,
                followers
            });

            if (this.user.userName !== this.userDetails.user.userName) {
                const idx = this.myFollowing.find(obj => obj.userName === this.userDetails.user.userName);
                if (idx === undefined)
                    this.type = 'follow'
                else this.type = 'unfollow'
            }
        }
    },
}
</script>

<style scoped>
.banner:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40%;
    opacity: 0.6;
    background-image: url("~/assets/bgImg.jpg");
}
</style>
