<template>
<div>
    <form class=" signup mx-auto max-w-sm">
        <div class=" flex justify-between px-2">
            <legend class="px-auto w-full mb-4 text-3xl font-semibold -left">Sign Up</legend>
            <button @click.prevent class="focus:outline-none h-12 w-12 hover:bg-lightblue text-3xl rounded-full text-blue">
                <i class="fab fa-twitter"></i>
            </button>
        </div>
        <div class="flex mb-4 justify-between">
            <div class="flex flex-col">
                <label class=" mb-1">First Name</label>
                <input v-model="firstName" class="border rounded p-1" type="text" placeholder="First Name" minlength="3">
            </div>
            <div class="flex flex-col">
                <label class="mb-1">Last Name</label>
                <input v-model="lastName" class="border rounded p-1" type="text" placeholder="Last Name" minlength="3">
            </div>
        </div>
        <div class="flex flex-col mb-4">
            <label class="mb-1">User Name</label>
            <input v-model="userName" class="border rounded p-1" type="text" placeholder="User Name" minlength="5">
        </div>
        <div class="flex flex-col mb-4">
            <label class="mb-1">Email</label>
            <input v-model="email" class="border rounded p-1" type="email" placeholder="Email" minlength="8">
        </div>
        <div class="flex flex-col mb-6">
            <label class="mb-1">Password</label>
            <input v-model="password" class="border rounded p-1" type="password" placeholder="Password" minlength="8">
        </div>
        <div class="flex flex-col mb-4">
            <button @click.prevent="handleSignUp" type="submit" class="h-10 mx-auto px-4 text-white w-1/3 font-semibold bg-blue hover:bg-darkblue focus:outline-none rounded-full">
                Sign Up
            </button>
        </div>
        <div class="flex justify-center">
            <p v-if="failed" class="mr-4 text-red-600">Invalid Credentials</p>
        </div>
        <div class="flex justify-center">
            <p class="mr-4">Already a member?</p>
            <a @click.prevent="$emit('change')" class=" text-blue" href="#">Log In</a>
        </div>

    </form>

</div>
</template>

<script>
export default {
    data() {
        return {
            failed: false,
            firstName: '',
            lastName: '',
            email: '',
            userName: '',
            password: ''
        }
    },
    methods: {
        handleSignUp: async function () {
            const res = await this.$axios.$post('http://localhost:3001/api/v1/auth/signup', {
                firstName: this.firstName,
                lastName: this.lastName,
                email: this.email,
                userName: this.userName,
                password: this.password

            })
            if (res.status !== 'Success') {
                this.failed = true;
            } else {
                const user = res.data.user;
                this.$emit('authenticated', user);
            }
        }
    },
}
</script>

<style scoped>
.signup {
    margin-top: 10%;
}
</style>
