<template>
<div>
    <div v-for="tweet in tweets" :key="tweet.id" class="w-full p-4 border-b hover:bg-lighter flex">
        <div class="flex-none mr-4">
            <nuxt-link :to="`/${tweet.userName}`" class="bg-lightblue p-3 h-12 w-12 text-dark rounded-full flex-none">
                <i class="fas fa-user"></i>
            </nuxt-link>
        </div>
        <div class="w-full">
            <div class="flex items-center w-full">
                <nuxt-link :to="`/${tweet.userName}`" class="font-semibold"> {{ tweet.firstName }} </nuxt-link>
                <nuxt-link :to="`/${tweet.userName}`" class="text-sm text-dark ml-2"> @{{ tweet.userName }} </nuxt-link>
                <timeago class=" text-xs text-dark ml-auto" :datetime="tweet.created_at" :auto-update="60"></timeago>
                <!-- <i class="fas fa-angle-down text-dark ml-auto"></i> -->
            </div>
            <p class="py-2">
                {{ tweet.content }}
            </p>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: ['tweets'],
}
</script>

<style scoped>

</style>
