<template>
<div>
    <button v-for="(user, idx) in users" :key="idx" class="w-full flex hover:bg-lighter p-3 border-t border-lighter">
        <nuxt-link :to="`/${user.userName}`" class="bg-lightblue hidden lg:block h-12 w-12 pt-3 text-dark rounded-full flex-none">
            <i class="fas fa-user"></i>
        </nuxt-link>
        <div class="flex flex-col ml-4">
            <nuxt-link :to="`/${user.userName}`" class="text-sm pl-0 text-left font-bold leading-tight">{{ user.firstName.trim() }}</nuxt-link>
            <nuxt-link :to="`/${user.userName}`"  class="text-sm pl-0 text-left leading-tight">@{{ user.userName }}</nuxt-link>
        </div>
    </button>
</div>
</template>

<script>
export default {
    props: ['users'],
}
</script>

<style scoped>

</style>
