<template>
<div>
    <Profile :userName="$route.params.userName" />
</div>
</template>

<script>
import {
    mapMutations,
    mapState
} from "vuex"

export default {
    computed: {
        ...mapState(['user', 'tweets', 'authenticated'])
    },
    created(){
        if(!this.authenticated){
            this.$router.push('/')
        }
    }
}
</script>

<style scoped>

</style>
