<template>
  <Auth v-if="!authenticated"/>
  <Home v-else />
</template>

<script>
import {mapState} from 'vuex'

export default {
  name: 'IndexPage',
  computed: {
    ...mapState(['authenticated'])
  },
}
</script>
